################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frontend/InformationRadarCore/.vs/InformationRadarCore/FileContentIndex/523f2b28-e1cb-4108-8399-f6b846cf1a4f.vsidx
.vs
